:root {
  --el-color-primary: #0277bd;
  --el-color-primary-light-3: #4f9fd6;
  --el-color-primary-light-5: #82c0e5;
  --el-color-primary-light-7: #b6ddef;
  --el-color-primary-light-8: #cfe6f4;
  --el-color-primary-light-9: #e8f4fb;
  --el-color-primary-dark-2: #02639f;
}
